{% load static %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{% url 'landing' %}">EOSEvents by 
    <img src="{% static 'assets/images/logo.jpg' %}" width="60
    " height="30" alt=""> </a>
    {% if not '/map-view' in request.get_full_path %}
    <a href="{% url 'map_view' %}" class="navbar-brand col-sm-3 col-md-2 mr-0">Map View</a>
    {% else %}
    <a href="{% url 'calendar_view' %}"class="navbar-brand col-sm-3 col-md-2 mr-0">Calendar View</a>
    {% endif %}
    <a href="#suggest" class="navbar-brand col-sm-3 col-md-2 mr-0" data-toggle="modal">Suggest Event</a>
</nav>